header {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -vw 0;
}
.user-profile img,
.dropbtn img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
}
#pfp {
  margin-right: 0.2vw;
}
#username {
  margin-bottom: 0.6vh;
}
.user-profile,
.dropbtn {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5vh;
  justify-content: center;
}
.dropbtn {
  border: none;
  background: none;
  padding: 0 1vw 0;
  min-width: 10vw;
  text-align: center;
}
.dropbtn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}

.user-nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10vw;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(250, 143, 143, 0.5);
}
#post-up {
  bottom: 100%;
}
.user-nav-dropdown:hover .dropdown-content {
  display: block;
}
html {
  background-image: url(https://cdn.staticcrate.com/stock-hd/effects/footagecrate-4k-looping-tech-background-clean-red-1-prev-full.png);
  background-size: cover;
}
.logout-nav,
.home-nav {
  padding: 0 1vw 0;
}
.feed,
.feed2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#feed-login {
  min-height: 100vh;
  justify-content: center;
}
.profile,
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52vw;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 0vh;
  margin-bottom: 2vh;
}
.login-page {
  margin-top: 2vh;
}
.signin-logo {
  height: 35vw;
  margin-bottom: -10vh;
  margin-top: -6vh;
}

.profile img {
  width: 25vw;
  border-radius: 20px;
}
.ShownUserName,
.bio,
.stats {
  border: 2px solid black;
  border-radius: 20px;
  padding: 1vw;
  background-color: rgba(250, 143, 143, 0.5);
  margin: 1vh;
  width: 23vw;
}
.displayed_pfp img {
  padding: 0;
  border: 2px solid black;
  border-radius: 20px;
}

.box-title {
  border-bottom: 1px black solid;
}
.ShownUserName {
  display: flex;
  flex-direction: column;
}
.ShownUserName h3 {
  margin: 0;
}

.ShownUserName h1 {
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.ShownUserName h3 {
  margin: 0;
}
.gender img,
.reg-form-gender img {
  width: 2vw;
  height: 2vw;
  border-radius: 0;
  margin-left: 1vw;
}
.gender img:hover,
.reg-form-gender img:hover {
  cursor: pointer;
}
.social-img img {
  width: 3vw;
  border-radius: 0;
}

.socials {
  display: flex;
  width: 23vw;
  justify-content: space-evenly;
}

.location,
.age,
.box-title {
  display: flex;
  align-items: center;
  min-height: 5vh;
}
.bio-text {
  display: flex;
  align-items: center;
}
.gender h4,
.location h4,
.age h4,
.bio-text h4,
.reg-form-gender {
  margin: 0;
}
.box-title,
.bio-text {
  margin-bottom: 2vh;
}

.location {
  margin-top: 2vh;
}

#orientation {
  margin-left: 3vw;
}

#stat-title {
  text-decoration: underline;
}
.gender-orientation {
  display: flex;
  width: 28vw;
  justify-content: space-around;
}

.gender {
  border: 2px solid black;
  border-radius: 23px;
  padding: 0.5vh 1vw;
  background-color: rgba(250, 143, 143, 0.5);
  margin: 1vh 0;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  height: 3vh;
}
#edit-gender {
  flex-direction: column;
  width: 18vw;
}

.new-media {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-height: 40vw;
  border: 2px solid black;
  border-radius: 20px;
  padding: 1vw;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  margin: 1vh 0 4vh 0;
}

.edit-post-icon img {
  width: 3vw;
  border-radius: 0;
  cursor: pointer;
}
.edit-post-icon {
  width: 25vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: end;
  display: flex;
  justify-content: space-evenly;
}

.media-inputs {
  display: flex;
  flex-direction: column;
}

.url-input {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.image-post {
  min-width: 23vw;
}

.post-image img .image-post img,
.displayed_pfp img {
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid black;
  min-width: 23vw;
  width: 25vw;
  height: 23vw;
  min-height: 5vw;
  text-align: center;
}
iframe {
  max-width: 25vw;
  max-height: 23vw;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid black;
  text-align: center;
  margin: 0 auto;
}
.displayed_pfp img {
  border-radius: 16px;
}

.image-post {
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(250, 143, 143, 0.5);
  margin: 1vh;
}

.image-text {
  border-top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.image-text h4 {
  margin: 0;
  padding: 2vw;
}

iframe,
.image-post {
  width: 25vw;
}

.bio,
.image-post,
.displayed_pfp,
.ShownUserName {
  margin: 1vh;
}

#like-icon-top,
#dislike-icon-top,
#like-icon-bottom,
#dislike-icon-bottom {
  width: 5vw;
  position: relative;
  background-color: rgba(250, 143, 143, 0.5);
  padding: 1vh;
  border-radius: 20px;
}
#like-icon-top:hover,
#dislike-icon-top:hover,
#like-icon-bottom:hover,
#dislike-icon-bottom:hover {
  border: 2px solid black;
  cursor: pointer;
}
.like-icons-buttons {
  margin-top: -5vh;
}
#like-icon-bottom,
#like-icon-top {
  left: 65vw;
}
#like-icon-top,
#dislike-icon-top {
  top: 12vw;
}
#like-icon-bottom,
#dislike-icon-bottom {
  bottom: 6vw;
}
#dislike-icon-bottom,
#dislike-icon-top {
  left: 19vw;
}
.user-profile:hover {
  cursor: pointer;
  border: 1px solid black;
  background-color: rgba(250, 143, 143, 0.5);
}
.no-connect {
  height: 77vh;
}
.come-again {
  margin-top: 6vh;
  background-color: rgba(250, 143, 143, 0.5);
  border-radius: 20px;
  border: 1px black solid;
  padding: 5vw;
}

.feed2 {
  height: 80vh;
  justify-content: center;
}
.edit-icon img {
  width: 3vw;
  height: 3vw;
  border-radius: 0;
  cursor: pointer;
}
.new-edit-icon img {
  width: 3vw;
  height: 3vw;
  border-radius: 0;
  cursor: pointer;
}
.new-edit-icon {
  width: 10vw;
}
.edit-btn-please-dear-god-work {
  display: flex;
}
#edit-profilebtn-invisible {
  opacity: 0;
  pointer-events: none;
}
.edit-icon {
  width: 50vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box {
  width: 5vw;
  height: 1vh;
  border-radius: 6px;
  border: 1px black solid;
  padding: 1vh;
}
.email-reg {
  display: flex;
  justify-content: center;
}

.input-box-mid {
  width: 14vw;
  height: 3vh;
  padding: 1vh;
}
.reg-form-gender {
  padding: 0.5vh 1vw;
  background-color: white;
  width: 13vw;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  height: 4vh;
}
.input-box-mid,
.reg-form-gender,
.signup-btn button {
  border-radius: 8px;
  border: 1px black solid;
}
.input-label {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.first-last-age,
.city-state,
.first-last-reg {
  display: flex;
  margin-top: 2vh;
}
.first-last-age {
  justify-content: space-between;
}
.city-state,
.first-last-reg {
  justify-content: space-evenly;
}
.pfp-label input,
.new-media input {
  width: 15vw;
  margin-left: 3vw;
}
.pfp-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}
#selected-gender {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
}
textarea {
  width: 23vw;
  height: 10vh;
  border-radius: 20px;
  border: 1px black solid;
  padding: 1vh;
}
#edit-bio {
  justify-content: space-between;
  margin-bottom: 0;
}
#edit-bio-text {
  height: 15vh;
  margin-bottom: 0;
}
.edit-socials {
  margin-top: 2vh;
}

.delete-buttons img {
  width: 2vw;
  border-radius: 20px;
  padding: 0.5vh;
  cursor: pointer;
}
.delete-buttons {
  display: flex;
  justify-content: space-evenly;
}
#confirm:active {
  transform: scale(0.8);
}
#cancel:active {
  transform: scale(0.8);
}
.Delete {
  background-color: rgb(250, 160, 160);
  padding: 1vh;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
#delete-show:hover {
  background-color: rgb(250, 109, 109);
}
.delete-buttons img:hover {
  border: 2px solid black;
}

.image-post img {
  width: 25vw;
  height: 25vw;
}

#written-post {
  min-height: 19vw;
}
.new-media input,
#video_url,
#title {
  margin-left: 0;
  width: 23vw;
}

.intro-words {
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2vh;
  text-align: center;
}
.reg-form-gender {
  display: flex;
  justify-content: flex-start;
  margin: 2vh;
}
.card-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(250, 143, 143, 0.5);
  margin: 1vh 1vh 5vh 1vh;
  width: 25vw;
}
.reg-title {
  text-align: center;
}
.signup-btn {
  text-align: center;
  margin: 3vh;
}
.signup-btn button {
  padding: 1vh;
  cursor: pointer;
  background-color: white;
}
#edit-profile-right {
  flex-direction: row-reverse;
  border-bottom: 1px solid black;
  justify-content: space-between;
}
.already-member {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#already-member {
  text-decoration: underline;
  cursor: pointer;
}
#already-member:hover {
  color: blue;
}
#already-member:active {
  color: rgb(99, 99, 255);
}
.already-member p {
  margin: 1vh;
}
#edit-profilebtn {
  margin: 0 1vh 5vh 0;
}
.whole-media {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.bio-conditional {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 25vw;
  margin-bottom: 1vh;
  border-radius: 6px;
  padding: 0 1vh 0vh 1vh;
  margin-top: 1vh;
}
#profile-connections {
  width: 40vw;
}
#connections-cond {
  border-bottom: 1px solid black;
}
.bio-conditional-type:hover,
#bio-selected-type:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
  padding: 0vh 2vw;
}
#bio-selected-type {
  border-bottom: 2px solid black;
  padding: 0vh 2vw;
}
.connection {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 20vw;
  border-radius: 20px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  justify-content: space-around;
}
.connection:hover {
}
.connection:active {
  box-shadow: 0px 0px 300px 0px rgba(0, 0, 0, 0.25);
}
.each-connection:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.connect-name h3 {
  padding: 0;
  text-align: center;
}
.connect-name {
  width: 20vw;
}
.connect-pfp img {
  height: 12vw;
  width: 20vw;
  object-fit: cover;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid black;
}
.newConnection {
  display: flex;
  background-color: rgba(255, 255, 255);
  width: 30vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
  border: 2px solid black;
  box-shadow: 0px 0px 300px 0px rgba(0, 0, 0);
  position: fixed;
  top: 33vh;
  right: 35vw;
  border-radius: 7px;
}
.match-options {
  display: flex;
  width: 25vw;
  justify-content: space-around;
  margin-top: 2vh;
}
.match-type-option {
  border: 1px solid black;
  background-color: rgba(250, 143, 143, 0.5);
  border-radius: 7px;
  padding: 2vh;
}
.match-type-option h5 {
  margin: 0;
}
.match-type-option:hover {
  cursor: pointer;
  box-shadow: 0px 0px 300px 0px rgba(0, 0, 0, 0.6);
}
.match-type-option:active {
  transform: scale(0.8);
  box-shadow: 0px 0px 300px 0px rgba(0, 0, 0, 0.6);
}
.match-pfp img {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  border: 1px solid black;
}
img {
  object-fit: cover;
}
.connect-pfps {
  display: flex;
}
.named-connections {
  text-align: center;
}
.shown-connections {
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: space-between;
  flex-wrap: wrap;
}
.match-icon-connections img {
  height: 3vw;
  width: 3vw;
  margin-bottom: -3vh;
  opacity: 1;
}

.match-icon-connections {
  position: relative;
  top: 0.2vh;
  left: 8.5vw;
}

.each-connection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
}
.home-nav img {
  height: 14vh;
  width: 14vh;
  margin: -2vh -2vh -4vh -2vh;
  padding: 5px 0;
}
.home-nav {
  border-radius: 7px;
  margin-left: 1vh;
}
.home-nav:hover {
  border: 1px solid black;
}
.home-nav:active {
  border: 1px solid black;
  background-color: white;
}
.match-icon img {
  width: 4vw;
  height: 4vw;
}

#displayed-match-pfp {
  position: relative;
  left: 2.5vw;
  z-index: -1;
}
#current-match-pfp {
  position: relative;
  right: 2.5vw;
  z-index: -1;
}
.match-icon {
  position: relative;
  bottom: 1vh;
  z-index: 2;
}
#like-icon-top:active,
#dislike-icon-top:active,
#like-icon-bottom:active,
#dislike-icon-bottom:active {
  transform: scale(0.8);
  box-shadow: 0px 0px 300px 0px rgba(0, 0, 0);
  background-color: white;
}
.trashcan-icon img {
  height: 2vw;
  width: 2vw;
  padding: 1vh;
  border-radius: 10px;
  cursor: pointer;
}
.trashcan-icon img:hover {
  background-color: white;
  border: 1px black solid;
}
.trashcan-icon img:active {
  background-color: white;
  border: 1px black solid;
  transform: scale(0.8);
}
.trashcan-icon {
  position: relative;
  bottom: 22vh;
  left: 27vw;
  height: 0;
  width: 0;
}
#deletePost {
  background-color: white;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -11vh;
  position: relative;
  bottom: 19vh;
  left: 5vw;
  box-shadow: 0px 0px 300px 0px rgba(0, 0, 0, 0.5);
}
#delete-btn-post {
  width: 15vw;
}
.invalid {
  align-items: center;
  display: flex;
  margin: 1rem 0;
}
form ~ .invalid {
  margin: 0;
  padding: 1rem 2rem 2rem;
}

.invalid {
  color: black;
}

.invalid::before {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.invalid::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' fill='black' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z'/%3E%3C/svg%3E");
}
.none {
  margin: 0vw;
}
.pass-val {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.pass-containter {
  display: flex;
  justify-content: center;
}
/*  */
/* FOR MOBILE */
/*  */
@media only screen and (max-width: 600px) {
  .profile {
    border-radius: 0;
    width: 100vw;
    border: none;
    margin-top: 0;
    min-height: 90vh;
  }
  .feed,
  .feed2 {
    background-image: url(https://cdn.staticcrate.com/stock-hd/effects/footagecrate-4k-looping-tech-background-clean-red-1-prev-full.png);
    background-size: cover;
  }
  #like-icon-bottom,
  #dislike-icon-bottom {
    width: 10vw;
    position: fixed;
    bottom: 7.5%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    border: 1px black solid;
    padding: 3vw;
  }

  #like-icon-bottom {
    left: 77.5vw;
  }
  #dislike-icon-bottom {
    left: 6vw;
  }
  /* #like-icon-top, #dislike-icon-top {
    opacity: 0;
    pointer-events: none;
  } */

  .ShownUserName,
  .bio,
  .image-post img,
  .displayed_pfp img {
    width: 74vw;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .displayed_pfp img,
  .post-image img,
  iframe {
    max-height: 74vw;
    object-fit: cover;
    min-width: 74vw;
    width: 74vw;
    height: 74vw;
  }

  .new-media {
    width: 80vw;
  }
  .pfp-label,
  .socials {
    width: 74vw;
  }
  #pfp_link,
  #ig_link,
  #fb_link,
  #li_link {
    width: 30vw;
  }

  .input-box {
    width: 20vw;
  }
  #video_url,
  #img_url,
  #title,
  .image-post,
  .image-post img,
  .edit-bio-text,
  #written-post {
    width: 74vw;
  }
  .post-image img {
    min-width: 74vw;
    width: 74vw;
  }
  .reg-form-gender {
    width: 40vw;
  }

  .newConnection {
    width: 60vw;
    right: 20vw;
  }

  .connection,
  .connect-pfp img {
    height: 25vh;
    width: 45vw;
  }
  .connect-name h3 {
    margin: 0;
    padding-bottom: 3em;
  }

  .match-icon-connections img {
    width: 10vw;
    height: 10vw;
  }

  h1 {
    font-size: 1.5em;
    margin: 1em;
  }
  .bio-conditional-text {
    min-width: 0vw;
  }

  #edit-profile-right {
    width: 85vw;
  }

  #edit-profilebtn {
    width: 10vw;
    height: auto;

    right: 10em;
  }

  .match-type-option {
    margin: 1vw;
  }

  .input-box-mid {
    width: 40vw;
  }
  .reg-form-gender {
    margin-right: 0;
    width: 42vw;
  }
  .gender-orientation {
    justify-content: space-between;
    width: 74vw;
  }
  .gender {
    width: 30vw;
  }
  #edit-gender-bubble {
    width: 72vw;
  }
  .whole-media,
  textarea {
    width: 85vw;
  }
  .whole-media {
    display: flex;
    align-items: center;
  }
  .bio-conditional {
    width: 74vw;
  }
  .gender img,
  .reg-form-gender img {
    width: 6vw;
    height: 6vw;
  }
  .social-img img {
    width: 8vw;
    justify-content: space-around;
  }
  html {
    background-image: none;
  }
  header {
    background-color: rgba(250, 143, 143, 0.5);
    width: 100vw;
  }
  .dropbtn {
    margin-right: 5vw;
  }

  .feed,
  .feed2,
  .login-page {
    background-color: rgba(250, 143, 143, 0.5);
  }

  .profile,
  .login-page {
    background-color: rgba(250, 143, 143, 0.5);
  }
  .login-page {
    border: 0;
    min-width: 85vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    min-height: 95vh;
    border: 1px solid black;
  }

  .card-overlay {
    border: 0;
    min-width: 85vw;
    border-radius: 20px;
    background: none;
  }

  .image-post,
  .gender {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .edit-post-icon img {
    height: 4vh;
    width: auto;
  }
  .edit-post-icon {
    width: 90vw;
    display: flex;
    justify-content: space-around;
  }
  #profile-connections {
    width: 90vw;
    text-align: center;
  }
  .edit-btn-please-dear-god-work {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  #edit-profilebtn {
    margin: 0;
  }
  .trashcan-icon img {
    height: 2vh;
    width: auto;
    position: static;
    background-color: rgba(250, 143, 143, 0.5);
  }
  .trashcan-icon {
    position: relative;
    height: 2vh;
    width: 2vh;
    bottom: 0;
    top: 3em;
    left: -3em;
  }
  .match-icon-connections {
    /* bottom: 15vh; */
    top: -2vh;
    left: 12vw;
  }
  .post {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  #deletePost {
    left: -23vw;
    bottom: -8vh;
    width: 35vw;
  }
  #delete-btn-post {
    width: 35vw;
    justify-content: space-between;
  }
  .delete-buttons img,
  .edit-icon img {
    width: 8vw;
    height: 8vw;
  }
  #edit-gender {
    width: 74vw;
  }
  .ShownUserName h1 {
    margin-left: 0;
    margin-right: 0;
  }
  .ShownUserName {
    text-align: center;
  }
  #edit-mobile-socials {
    width: 55vw;
  }
  .Delete {
    background-color: white;
  }
  .match-pfp img {
    width: 30vw;
    height: 30vw;
  }
  .match-icon img {
    width: 12vw;
    height: 12vw;
  }
  #displayed-match-pfp {
    left: 8vw;
  }
  #current-match-pfp {
    right: 8vw;
  }
  .newConnection {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 300px 0px rgb(255, 255, 255, 0.6);
  }
  .shown-connections {
    margin-top: 5vh;
    width: 90vw;
    text-align: center;
  }
  .connect-pfp img,
  .connection,
  .each-connection {
    height: 25vw;
    width: 30vw;
  }
  .each-connection {
    margin-bottom: 20vw;
  }
  .connect-name h3 {
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
  .connection {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .connect-name {
    height: 20vw;
    background-color: white;
    width: 30vw;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding-bottom: 5vw;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .signin-logo {
    height: 65vw;
  }
  .come-again {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
