header {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -vw 0;
}
.user-profile img,
.dropbtn img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
}
#pfp {
  margin-right: 0.2vw;
}
#username {
  margin-bottom: 0.6vh;
}
.user-profile,
.dropbtn {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5vh;
  justify-content: center;
}
.dropbtn {
  border: none;
  background: none;
  padding: 0 1vw 0;
  min-width: 10vw;
  text-align: center;
}
.dropbtn:hover {
  cursor: pointer;
  background-color: rgba(250, 143, 143, 0.5);
}

.user-nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10vw;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(250, 143, 143, 0.5);
}
#post-up {
  bottom: 100%;
}
.user-nav-dropdown:hover .dropdown-content {
  display: block;
}
html {
  background-image: url(https://cdn.staticcrate.com/stock-hd/effects/footagecrate-4k-looping-tech-background-clean-red-1-prev-full.png);
  background-size: cover;
}
.logout-nav,
.home-nav {
  padding: 0 1vw 0;
}
.feed,
.feed2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#feed-login {
  min-height: 100vh;
  justify-content: center;
}
.profile,
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52vw;
  border: 2px solid black;
  border-radius: 20px;

  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.profile img {
  width: 25vw;
  border-radius: 20px;
}
.ShownUserName,
.bio,
.stats {
  border: 2px solid black;
  border-radius: 20px;
  padding: 1vw;
  background-color: rgba(250, 143, 143, 0.5);
  margin: 1vh;
  width: 23vw;
}
.displayed_pfp img {
  padding: 0;
  border: 2px solid black;
  border-radius: 20px;
}

.box-title {
  border-bottom: 1px black solid;
}
.ShownUserName {
  display: flex;
  flex-direction: column;
}
.ShownUserName h3 {
  margin: 0;
}

.ShownUserName h1 {
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.ShownUserName h3 {
  margin: 0;
}
.gender img,
.reg-form-gender img {
  width: 2vw;
  height: 2vw;
  border-radius: 0;
  margin-left: 1vw;
}
.gender img:hover,
.reg-form-gender img:hover {
  cursor: pointer;
}
.social-img img {
  width: 3vw;
  border-radius: 0;
}

.socials {
  display: flex;
  width: 23vw;
  justify-content: space-evenly;
}

.location,
.age,
.box-title {
  display: flex;
  align-items: center;
  min-height: 5vh;
}
.bio-text {
  display: flex;
  align-items: center;
}
.gender h4,
.location h4,
.age h4,
.bio-text h4,
.reg-form-gender {
  margin: 0;
}
.box-title,
.bio-text {
  margin-bottom: 2vh;
}

.location {
  margin-top: 2vh;
}

#orientation {
  margin-left: 3vw;
}

#stat-title {
  text-decoration: underline;
}
.gender-orientation {
  display: flex;
  width: 25vw;
  justify-content: space-around;
}

.gender {
  border: 2px solid black;
  border-radius: 23px;
  padding: 0.5vh 1vw;
  background-color: rgba(250, 143, 143, 0.5);
  /* width: 14vw; */
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  height: 3vh;
}

.new-media {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-height: 40vw;
  border: 2px solid black;
  border-radius: 20px;
  padding: 1vw;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  margin: 1vh 0 4vh 0;
}

.edit-post-icon img {
  width: 3vw;
  border-radius: 0;
  cursor: pointer;
}
.edit-post-icon {
  width: 25vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: end;
  display: flex;
  justify-content: space-evenly;
}

.media-inputs {
  display: flex;
  flex-direction: column;
}

.url-input {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.image-post {
  min-width: 23vw;
}

.post-image img,
iframe,
.image-post img {
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid black;
  min-width: 23vw;
  min-height: 5vw;
  text-align: center;
}

.image-post {
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(250, 143, 143, 0.5);
  margin: 1vh;
}

.image-text {
  border-top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.image-text h4 {
  margin: 0;
  padding: 2vw;
}

iframe {
  width: 25vw;
}

.bio,
.image-post,
.displayed_pfp,
.ShownUserName {
  margin: 1vh;
}

#like-icon,
#dislike-icon {
  width: 5vw;
  position: fixed;
  bottom: 10%;
  background-color: rgba(250, 143, 143, 0.5);
  padding: 1vh;
  border-radius: 20px;
}
#like-icon:hover,
#dislike-icon:hover {
  border: 2px solid black;
  cursor: pointer;
}
.user-profile:hover {
  cursor: pointer;
  border: 1px solid black;
  background-color: rgba(250, 143, 143, 0.5);
}
#like-icon {
  right: 25vw;
}
#dislike-icon {
  left: 25vw;
}

.come-again {
  background-color: lightgrey;
  border-radius: 20px;
  border: 1px black solid;
  padding: 5vw;
}

.feed2 {
  height: 80vh;
  justify-content: center;
}
.edit-icon img {
  width: 3vw;
  height: 3vw;
  border-radius: 0;
  cursor: pointer;
}
.edit-icon {
  width: 50vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box {
  width: 5vw;
  height: 1vh;
  border-radius: 6px;
  border: 1px black solid;
  padding: 1vh;
}
.email-reg {
  display: flex;
  justify-content: center;
}

.input-box-mid {
  width: 14vw;
  height: 3vh;
  padding: 1vh;
}
.reg-form-gender {
  padding: 0.5vh 1vw;
  background-color: white;
  width: 13vw;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  height: 4vh;
}
.input-box-mid,
.reg-form-gender,
.signup-btn button {
  border-radius: 8px;
  border: 1px black solid;
}
.input-label {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.first-last-age,
.city-state,
.first-last-reg {
  display: flex;
  margin-top: 2vh;
}
.first-last-age {
  justify-content: space-between;
}
.city-state,
.first-last-reg {
  justify-content: space-evenly;
}
.pfp-label input,
.new-media input {
  width: 15vw;
  margin-left: 3vw;
}
.pfp-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}
#selected-gender {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
}
textarea {
  width: 23vw;
  height: 10vh;
  border-radius: 20px;
  border: 1px black solid;
  padding: 1vh;
}
#edit-bio {
  justify-content: space-between;
  margin-bottom: 0;
}
#edit-bio-text {
  height: 15vh;
  margin-bottom: 0;
}
.edit-socials {
  margin-top: 2vh;
}

.delete-buttons img {
  width: 2vw;
  border-radius: 20px;
  padding: 0.5vh;
  cursor: pointer;
}
.delete-buttons {
  display: flex;
  justify-content: space-evenly;
}
.Delete {
  background-color: rgb(250, 160, 160);
  padding: 1vh;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
#delete-show:hover {
  background-color: rgb(250, 109, 109);
}
.delete-buttons img:hover {
  border: 2px solid black;
}

.image-post img {
  min-width: 25vw;
  min-height: 19vw;
}

#written-post {
  min-height: 19vw;
}
.new-media input,
#video_url,
#title {
  margin-left: 0;
  width: 23vw;
}

.intro-words {
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2vh;
  text-align: center;
}
.reg-form-gender {
  display: flex;
  justify-content: flex-start;
  margin: 2vh;
}
.card-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(250, 143, 143, 0.5);
  margin: 1vh 1vh 5vh 1vh;
  width: 25vw;
  /* box-shadow: 10px 10px lightblue; */
}
.reg-title {
  text-align: center;
}
.signup-btn {
  text-align: center;
  margin: 3vh;
}
.signup-btn button {
  padding: 1vh;
  cursor: pointer;
  background-color: white;
}
#edit-profile-right {
  flex-direction: row-reverse;
  border-bottom: 1px solid black;
}
.already-member {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#already-member {
  text-decoration: underline;
  cursor: pointer;
}
#already-member:hover {
  color: blue;
}
#already-member:active {
  color: rgb(99, 99, 255);
}
.already-member p {
  margin: 1vh;
}
#edit-profilebtn {
  margin: 0 1vh 5vh 0;
}
.whole-media {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bio-conditional {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 25vw;
  margin-bottom: 1vh;
  border-radius: 6px;
  padding: 0 1vh 0vh 1vh;
}
#connections-cond {
  border-bottom: 1px solid black;
}
.bio-conditional-type:hover,
#bio-selected-type:hover {
  cursor: pointer;
  background-color: white;
  padding: 0 1vh 0vh 1vh;
  border-radius: 6px;
  border: 2px solid black;
}
#bio-selected-type {
  background-color: white;
  padding: 0 1vh 0vh 1vh;
  border-radius: 6px;
  border: 1px solid black;
}
/*  */
/* FOR MOBILE */
/*  */
@media only screen and (max-width: 600px) {
  .profile {
    border-radius: 0;
    width: 100vw;
  }
  #like-icon,
  #dislike-icon {
    width: 15vw;
    position: fixed;
    bottom: 10%;
    background-color: rgba(211, 211, 211, 0.709);
    border-radius: 20px;
    border: 1px black solid;
    padding: 3vw;
  }

  #like-icon {
    right: 10vw;
  }
  #dislike-icon {
    left: 10vw;
  }
  .ShownUserName,
  .bio,
  .image-post img,
  .displayed_pfp img,
  iframe {
    width: 85vw;
  }
  .gender-orientation {
    justify-content: space-around;
  }
  .gender {
    width: 23vw;
  }
  .gender img,
  .reg-form-gender img {
    width: 6vw;
    height: 6vw;
  }
  .social-img img {
    width: 8vw;
    justify-content: space-around;
  }
}
